body {
    max-width: 1200px;
    margin: 0 auto;
}

.form {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: top;
}

.form form {
    max-width: 40%;
    flex-basis: 35%;
}

.form label {
    margin: 10px 0;
}

.form button {
    margin: 30px 0;
}

input[type="file"] {
    position: relative;
    color: #495057;
}

select {
    margin: 20px;
    background-image: url(../images/signup-image.jpg);
}

input[type="file"]:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}

input[type="file"] label {
    visibility: hidden;
}

input[type="file"]::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.pictures img {
    max-height: 150px;
    max-width: 100%;
}

.filterDiv {
    display: none;
}


.show {
    display: block;
}

.pictures {
    margin-top: 20px;
    overflow: hidden;
}

/* Style the buttons */
.bton {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.bton:hover {
    background-color: #ddd;
}

.bton:focus {
    background-color: #666;
    color: white;
}
