{% extends 'shared/navigation_bar.html' %}


{% block content %}

    {% include 'messages/general_message_template.html' %}

    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Нова Парола</h2>
        <hr>
        <p>Забравена парола? Моля въведете имейл отдолу и ние ще ви изпратим инструкции за въвеждане на нова парола.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Изпрати имейл</button>
        </form>
    </div>

{% endblock %}