{% extends 'shared/navigation_bar.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/login_page.css"/>

    {% if user.id == request.user.id %}
        <section class="form rounded">
            <img src="/static/images/laborers.png" alt="">

            <form method="POST" action="#">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Промени Парола</button>
            </form>

            <img class="img-2" src="/static/images/logo.png" alt="">

        </section>
    {% endif %}
{% endblock %}