{% extends 'shared/navigation_bar.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/login_page.css"/>

    <section class="form rounded">
        <img src="/static/images/laborers.png" alt="">

        <form method="post" action="#">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Регистрация</button>
        </form>
        <small><a href="{% url 'login' %}">Имаш профил? Вход</a></small>

        <img class="img-2" src="/static/images/logo.png" alt="">

    </section>
{% endblock %}
