{% extends 'shared/navigation_bar.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/jobs-main-page.css">

    <h3>Избери Категория</h3>

    <div class="main-row">


        <div class="content-box" onclick="location.href='{% url 'looking for jobs' %}'">
            <img src="/static/images/cv.png" width="200" alt="">
            <br>
            <h6>ТЪРСЯ ХОРА</h6>
        </div>


        <div class="content-box" onclick="location.href='{% url 'offer jobs' %}'">
            <img src="/static/images/become-partner-2.png" width="200" alt="">
            <br>
            <h6>ПРЕДЛАГАМ УСЛУГА</h6>
        </div>
    </div>

    <hr width="1100px">
    {% include 'shared/footer.html' %}
{% endblock %}