{% extends 'shared/navigation_bar.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/create-job.css"/>

    <section class="form rounded">
        <h2>Създай Обява</h2>
        <img src="/static/images/labor-day.png" alt="">

        <form action="{% url 'create job' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Създай Обява</button>
        </form>

        <img class="img-2" src="/static/images/logo.png" alt="">

    </section>

{% endblock %}