.form {
    margin: 20px auto;
    max-width: 25%;
    padding: 50px 20px;
    border: 1px solid rgb(213,218,223);
    display: flex;
    flex-direction: column;
}

.form img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.img-2 {
    margin-top: 50px;
}
