{% extends 'shared/navigation_bar.html' %}

{% block content %}
    {% include 'messages/general_message_template.html' %}

    <main>
        <section class="main-header">

            <article class="main-header-left">
                {#                <h1 class="display-4">Работа в удобно за вас време</h1>#}
                <h1 class="display-4">По-лесният начин за работа</h1>
                <br>
                <p class="lead">С нас работиш, когато искаш и колкото поискаш. Без дългосрочни договори и излишни
                    интервюта.</p>
            </article>

            <article class="main-header-right">
                <img src="/static/images/home-picture.png" alt="work to be done">
            </article>
        </section>

        <br/><br>

        {% if looking_for_people_jobs %}
            {% with looking_for_people_jobs as jobs %}
                <h2 class="h2" style="margin-bottom: 50px;">Най-нови обяви за работа</h2>
                {% include 'shared/jobs_context_box.html' %}
            {% endwith %}
        {% endif %}

        <br/><br>
        <hr style="max-width: 1200px">

        {% if offer_jobs %}
            {% with offer_jobs as jobs %}
                <h2 class="h2" style="margin-bottom: 50px; text-align:center;">Най-нови обяви в Предлагам Услуга</h2>
                {% include 'shared/jobs_context_box.html' %}
            {% endwith %}
        {% endif %}

        <br/><br>

        <section class="sub-header">
            <section class="white-box">
                <article class="sub-header-left">
                    <img src="/static/images/home-picture-2.png" alt="work to be done">
                </article>

                <article class="sub-header-right">
                    <h2>Защо Rent A Hand?</h2>
                    <p>Работа в удобно за Вас време.</p>
                    <h6>Идеална възможност за:</h6>

                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Всички търсещи работа без дългосрочни договори</p>
                    </div>

                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Студенти, хора на свободна практика и всички, които искат да изкарат допълнителни
                            доходи</p>
                    </div>
                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Тези, които искат да споделят своите умения и да намерят клиенти</p>
                    </div>
                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Хора, които имат нужда от човек, да помогне за всичко свързано
                            с дома или работното място</p>
                    </div>
                    <h6>Ние осигуряваме:</h6>
                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Лесен начин вашите умения да достигнат до потенциални клиенти</p>
                    </div>
                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Платформа, в която можете да намерите подходящия човек за вашите изисквания</p>
                    </div>
                    <div class="sub-points">
                        <img src="/static/images/check.png" width="20" height="" alt="">
                        <p>Екип, който да се погрижи целия работен процес да е изряден</p>
                    </div>
                </article>
            </section>
        </section>

        <br/><br>

    </main>

    {% include 'shared/footer.html' %}
{% endblock %}

